@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  color: #fff;
}
body{
  background-color: #000;
  
}
main{
  background-image: url(./images/background.png);
  width: 100%;
  height: 61rem;
  
  
}
header{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding: 4.5rem;
}

header h1{
 font-family: 'Montserrat', sans-serif ;
 margin-left: .6rem;
}
header span{
  color: #ff5b50;
}
header nav{
  display: flex;
  gap: 4rem;
}
header nav a{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
header button{
  display: flex;
  align-items: center;
  gap: .5rem;
  width: 14rem;
  background-color: #fff;
  border: none;
  border-radius: .2rem;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding: .7rem;
  
}
header button span{
  width: 40px;
}

.section-one{
  margin-top: 4rem;
  margin-left:5rem;
}
.text{
  display: flex;
  font-family: 'Montserrat', sans-serif;
  
}
.text p {
  max-width: 350px;
  
}
.text h2{
  max-width: 550px;
  font-weight: 700;
  font-size: 45px;
  margin-left: 3.5rem;
  margin-top: -.5rem;
}
.text span{
  color: #ff5b50;
}
.text img{
  width: 11rem;
  margin-left: 3rem;
}
.avatar{
  display: flex;
  align-items: end;
  margin-top: -6rem;
  font-family: 'Montserrat', sans-serif;
}

.avatar div p{
  font-weight: 700;
}
.avatar div span{
  font-weight: 300;
}
  
.galery{
  margin-top: 8rem;
  margin-right: 3rem;
}
.galery img{
  width: 280px;
  margin: .5rem;
 
}

.galery-2{
  margin-top: 3rem;
  margin-right: 3rem;
}
.galery-2 img{
  width: 280px;
  margin: .5rem;
 
}

.section-two{
  border-bottom:  1px solid #555151;
  width: 100%;
  height: 45rem;
  font-family: 'Montserrat', sans-serif;
}
.main-one{
  display: flex;
  justify-content: space-around;
}
.container{
  width: 15%;
  height: 40rem;
  border-right: 1px solid #555151;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top :2rem ;
  gap: 7rem;
  
}
.container div h3{
  font-weight: 600;
  font-size: 3rem;
  
}
.container div p{
  text-align: center;
  font-weight: 300;
}

.text-main{
  max-width: 380px;
  margin-top: 5rem;
}

.color{
  color: #ff5b50;
}
.a-top{
  display: flex;
  margin-top: 3rem;
}
.banner img{
  width: 67.7rem;
  margin-left: 16.6rem;
  margin-top: -14.7rem;
  
}
.main2{
  width: 100%;
}
.main2 h2{
  margin-left: 4rem ;
  margin-top: 7rem;
  font-weight: 700;
  font-size: 2.5rem
}
.main2 h2 span{
  color: #ff5b50;
}
.container-main{
  display: flex;
  gap: 12rem; 
  margin-top: 10rem;
}
 
.astro{
  margin-left: -4.2rem;
}
.card-1{
  display: flex;
  gap: 11rem;
  align-items: center;
  margin-top:  5rem;
  margin-left: 7rem;
}
.card-1 h3 {
  font-size: 1.5rem;
}
.text-main2{
  display: flex;
  margin-left: 7rem;
  gap: 6rem;
  margin-top: 1rem;
  
}
.img-main2{
  margin-left: 7rem;
  margin-top: 1.5rem;
}
.p{
 color: #555151;
 font-weight: 600;
}
.span{
  color: #ff5b50;
  margin-left: 7rem;
  font-weight: 400;
}

.span-1{
  color: #ff5b50;
  margin-left: 5rem;
  font-weight: 400;
}

.underline{
  border: 1px solid #555151;
  margin-left: 1.5rem;
}

.artitas h2{
  text-align: center;
  margin-top: 7rem;
  font-size: 2.5rem;
}

.artitas span{
  color: #ff5b50;
}
.artistas-img-1{
    display: flex;
    justify-content: space-around;
    margin-top: 7rem;
}

.artistas-img-2{
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
}
.art-img3{
  margin-left: 1.3rem;
  
}
.art-img1{
  margin-left: 2.2rem;
}
.art-img2{
  margin-left: 2.6rem;
}
  
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  font-family: 'Montserrat', sans-serif;
}

.icon p{
  font-size: 1.2rem;
}

footer{
  width: 100%;
  height: 46rem;
  margin-top: 10rem;
  background-color: #252525;
  font-family: 'Montserrat', sans-serif;
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 3rem;
  border-bottom: 1px solid #555151;
  
}

.footer h2{
  font-size: 2rem;
  margin-left: 2rem;
}
.footer span{
 color: #ff5b50;
}
.footer img{
  width: 70px;
  margin-right:5rem;
}
.vector-arrow{
  position: absolute;
  right: 3.5%;
  height: 25px;
}
.section-footer{
  display: flex;
}

.footer-container{
  width: 40%;
  height: 20rem;
  
  border-right: 1px solid #555151;
   
}
.footer-container h2{
 padding: 5rem;
}
.footer-container span{
  color: #ff5b50;
 }
.input{
   display: flex;
   margin-left: 5rem;
   margin-top: -2rem;
   font-family: 'Montserrat', sans-serif;
}
.input input{
   width: 50%;
   height: 3rem;
   border: none;
   outline: none;
   padding: 1rem;
   background-color: #000;
   color: #5A5757;
   font-size: 1.2em;
}
.input button{
  width: 20%;
  background-color: #ffffff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #000;
  font-weight: 700;
  font-size: 1rem;
}
.article{
  display: flex;
  gap: 10rem;
  padding: 5rem;
}
.article ul{
  list-style: none;
  line-height: 2.5rem;
  
}
.article span{
  font-weight: 700;
}
.article li{
  color: #5A5757;
}
.final{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  margin-top: -2.5rem;
  border-top: 1px solid #555151;
}
.final a{
  margin-left: 3rem;
  text-decoration: none;
  color: #555151;
  font-weight: 400;
  font-size: 1.2em;
}
.final nav{
  display: flex;
  gap: 2rem;
}
 

@media (max-width: 1280px ) {
  .text h2{
    max-width: 400px;
    font-weight: 700;
    font-size: 29px;
    line-height: 3rem;
    margin-left: 5rem;
    margin-top: -.6rem;
  }
  .text img{
    width: 9.5rem;
    margin-left: 5rem;
  }
  .galery img{
    width: 250px;
    margin: .5rem;
  }
  .galery-2 img{
    width: 250px;
    margin: .5rem;
   
  }
   
  .text-main{
    max-width: 380px;
    margin-top: 8rem;
  }
  .banner img{
    width: 63.8rem;
    margin-left: 15.1rem;
    margin-top: -13.7rem;
    
  }
 
 .container-left{
   margin-left: -4.5rem;
 }
 .footer-container{
  width: 40%;
  height: 20rem;
  border-right: 1px solid #555151;
   
}
 .vector-arrow{
  position: absolute;
  right: 3.8%;
  height: 25px;
}
.final{
  padding: 6.5rem;
  margin-top: -2.3rem;
  
}

}

  
